body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    overflow: hidden;
    background-size: cover;
    
}

h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(162, 192, 233);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 500px;
    text-shadow: 2px 2px 5px rgb(158, 152, 150);
}

.clock{
    display: flex;
    position: relative;
}

.clock div{
    margin: 5px;
}
.clock span{
    height: 100px;
    width: 80px;
    background-color: #25334A;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px black .5;
}

.clock .text{
    height: 30px;
    font-size: 10px;
    background-color: #202d42;
    opacity: .9;
}

.clock #ampm{
    bottom: 3%;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(22, 119, 119);
}
